<%- include('header'); -%>

<div class="slider-wrap">
  <section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url('img/hero_1.jpg');">
      
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 ">
            <h1 data-aos="fade-up">Enjoy Your Food</h1>
            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente et sed quasi.</p>
            <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Get Started</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url('img/hero_2.jpg');">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 ">
            <h1 data-aos="fade-up">Cook More, Worry Less</h1>
            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente et sed quasi.</p>
            <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Get Started</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>
<!-- END slider -->
</div> 


<section class="section bg-light py-5  bottom-slant-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
        <span class="wrap-icon"><span class="flaticon-dinner d-block mb-4"></span></span>
        <h3 class="mb-2 text-primary">Enjoy Eating</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
        <span class="wrap-icon"><span class="flaticon-fish d-block mb-4"></span></span>
        <h3 class="mb-2 text-primary">Fresh Sea Foods</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
        <span class="wrap-icon"><span class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view d-block mb-4"></span></span>
        <h3 class="mb-2 text-primary">Cup of Coffees</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
        <span class="wrap-icon"><span class="flaticon-meat d-block mb-4"></span></span>
        <h3 class="mb-2 text-primary">Meat Eaters</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
  </div>
</section>


<section class="section pb-0">
  <div class="container">
    <div class="row mb-5 justify-content-center" data-aos="fade">
        <div class="col-md-7 text-center heading-wrap">
          <h2 data-aos="fade-up">The Restaurant</h2>
          <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
    <div class="row align-items-center">
      <div class="col-lg-4">
        <img src="img/dishes_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
      </div>
      <div class="col-lg-4">
        <img src="img/about_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="300">
        <img src="img/about_2.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
      </div>
      <div class="col-lg-4">
        <img src="img/dishes_3.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>